:root {
	//      ====Main colors====
	--mid-night-green: hsl(186, 98%, 17%);
	--light-coral: hsl(0, 87%, 73%);
	--white: hsl(0, 0%, 100%);

	//   ====Secondary colors====
	--rapture-blue: #79c8c7;
	--police-blue: #2c6269;
	--deep-jungle-green: #004047;
	--sacramento-state-green: #012f34;
	--dark-green: #002529;
}
