* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Livvic', sans-serif;
	font-size: 100%;
	overflow-x: inherit;
}

a {
	text-decoration: none;
	color: var(--white);
}

ul,
ol {
	list-style-type: none;
}

button {
	font-family: inherit;
}
