@use '../../global/breakpoints' as b;
@use '../../global/functions' as f;

.basic-information {
	background-color: var(--sacramento-state-green);
	position: relative;
	padding: 0 f.rem(30);
	display: flex;
	flex-direction: column;
	align-items: center;
	// height: f.rem(1100);
	padding-bottom: f.rem(100);

	@include b.break('large') {
		flex-direction: row;
		justify-content: center;
		width: 100%;

		padding: f.rem(160) f.rem(160);
	}

	@include b.break('x-large') {
		padding: f.rem(160) f.rem(300);
	}

	&__header {
		height: f.rem(400);
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: f.rem(30);
		width: 100%;
		max-width: f.rem(650);

		@include b.break('large') {
			justify-content: flex-start;
			max-width: 100%;
		}
		&-line {
			width: f.rem(45);
			height: f.rem(4);
			background-color: var(--light-coral);

			@include b.break('medium') {
				margin-left: f.rem(50);
			}

			@include b.break('large') {
				margin-left: 0;
				position: absolute;
				top: f.rem(110);
			}
		}

		&-heading {
			color: var(--white);
			width: f.rem(230);
			font-size: f.rem(35);
			line-height: 1;

			@include b.break('medium') {
				width: f.rem(470);
				margin-left: f.rem(50);
			}

			@include b.break('large') {
				margin-left: 0;
				font-size: f.rem(48);
			}

			@include b.break('large') {
				font-size: f.rem(54);
			}
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: f.rem(-100);

		@include b.break('large') {
			top: f.rem(470);
		}
	}

	&__description {
		&-container {
			display: flex;
			flex-direction: column;
			gap: f.rem(50);
			max-height: f.rem(700);
			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: var(--white);
				text-align: center;
				gap: f.rem(13);
				position: relative;

				@include b.break('medium') {
					align-items: flex-start;
					// flex-direction: row;
					justify-content: flex-start;
					margin-left: f.rem(90);
				}

				&-heading {
					color: var(--light-coral);
				}

				&-image {
					@include b.break('medium') {
						position: absolute;
						top: 0;
						left: f.rem(-90);
					}
				}
			}
		}
	}

	& .body {
		max-width: f.rem(450);

		@include b.break('medium') {
			text-align: left;
			// align-self: flex-end;
		}

		@include b.break('large') {
			width: f.rem(450);
		}
	}
}
